@import "reset.css";

@import "components/background.css";
@import "components/weather.css";
@import "components/clock.css";
@import "components/quotes.css";
@import "components/todo.css";
@import "components/greetings.css";
@import "components/loading.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

.hidden {
  display: none;
}

.section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
