@keyframes dailyLoadingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.daily {
  position: absolute;
  bottom: 90px;
  right: 30px;
  font-size: 20px;
  font-style: italic;
  opacity: 0;
  transform: translateX(var(--rotate-value-r));
  animation: weatherLoadingAnimation 1s ease-in-out forwards;
  animation-delay: 5s;
}

.daily h3 {
  will-change: transform;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.daily h3:hover {
  transform: scale(1.1) translateX(-10px);
  background-color: var(--gray-color);
}
