@keyframes greetingsLoadingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.login {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(var(--rotate-value));
  animation: greetingsLoadingAnimation 1s ease-in-out forwards;
  animation-delay: 4.5s;
}

.login-form {
  display: flex;
  justify-content: center;
  will-change: transform;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.login-form:focus-within {
  transform: scale(1.2);
  background-color: var(--gray-color);
}

.login-form input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid white;
  opacity: 0.9;
  color: white;
  font-size: 25px;
  font-style: italic;
}

.login-form__write {
  width: 250px;
}

.login-form__write::placeholder {
  color: white;
}

.isIn {
  animation: greetingsLoadingAnimation 0.7s ease-in-out forwards;
}
