@keyframes quotesLoaingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 0.8;
  }
}

.quote {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0;
  transform: translateX(var(--rotate-value));
  animation: quotesLoaingAnimation 1s ease-in-out forwards;
  animation-delay: 5s;
}

.quote-quote {
  font-size: 20px;
  font-weight: 400;
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}

.quote-author {
  margin-top: 10px;
  font-size: 18px;
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}

.quote-quote:hover,
.quote-author:hover {
  left: 70;
  transform: scale(1.1);
  background-color: var(--gray-color);
}
