@keyframes toDoLoadingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.todo {
  opacity: 0;
  transform: translateY(var(--rotate-value));
  animation: toDoLoadingAnimation 1s ease-in-out forwards;
  animation-delay: 4.5s;
}

.todo-form {
  will-change: transform;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.todo-form:focus-within {
  transform: scale(1.2);
  background-color: var(--gray-color);
}

.todo input {
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  border: none;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.todo-form {
  display: flex;
  justify-content: center;
}

.todo input:first-child {
  width: 400px;
}

.todo input::placeholder {
  color: white;
}

.todo li {
  margin-top: 10px;
  padding: 5px;
  font-size: 22px;
  font-style: italic;
  will-change: transform;
  transition: transform 0.2s ease-in-out, backgound-color 0.2s ease-in-out;
}

.todo li:hover {
  transform: scale(1.1);
  background-color: var(--gray-color);
}

@keyframes btnBeat {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: none;
  }
}

.todo button {
  border: none;
  color: greenyellow;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  will-change: transform;
}

.todo button:hover {
  color: red;
  animation: btnBeat 0.8s ease-in-out infinite;
}

@keyframes appendToDoList {
  from {
    background-color: var(--gray-color);
    transform: scale(1.1);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
    transform: none;
  }
}

.allnew {
  animation: appendToDoList 0.5s ease-in-out;
}
