@keyframes weatherLoadingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  opacity: 0;
  transform: translateX(var(--rotate-value-r));
  animation: weatherLoadingAnimation 1s ease-in-out forwards;
  animation-delay: 5s;
}

.weather span {
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}

.weather span:first-child {
  margin-bottom: 10px;
}

.weather span:hover {
  transform: scale(1.1);
  background-color: var(--gray-color);
}
